<!DOCTYPE html>
<html>

<style>
.main {
    width: 443px;
    height: 252px;
    background-color: white;

    position: absolute;
    top:0;
    left: 0;

    margin: auto;
	}
.layout {
	width: 200px;
	height: 28px;
	background-color: #99ffff;
	
	position: fixed;
	bottom: 0px;
	right: 0px;
	}
</style>

<body style="background-color: white">
<div class="main">
<img src="work.png">
</div>
<div class="layout">
<img src="../multi.png"><img src="../desktopbutton.png" onclick=window.location.href="desktop.html"><img src="../workbutton.png" onclick=window.location.href="work.html"><img src="../plus.png" onclick=window.location.href="../index.html">
</div>
</body>

</html>